/control
/patched/
/tmp/
/*debhelper.log
/.debhelper/
/files
/module_packages/
/build-stamp*
/configure-stamp

/igh-ethercat-dev/
/igh-ethercat-dev.substvars
/igh-ethercat-dev.links

/igh-ethercat/
/igh-ethercat.substvars
/igh-ethercat.postinst
/igh-ethercat.postinst.debhelper
/igh-ethercat.postrm.debhelper
/igh-ethercat.prerm

/igh-ethercat-modules-*/
/igh-ethercat-modules-*.install
/igh-ethercat-modules-*.postinst
/igh-ethercat-modules-*.prerm
/igh-ethercat-modules-*.debhelper
/igh-ethercat-modules-*.substvars
