/rules
/control
/patched/
/tmp/
/*debhelper.log
/files

/ethercat-dev/
/ethercat-dev.install
/ethercat-dev.substvars
/ethercat-dev.links

/ethercat/
/ethercat.install
/ethercat.substvars
/ethercat.postinst
/ethercat.postinst.debhelper
/ethercat.postrm.debhelper
/ethercat.prerm
