Source: etherlabmaster
Section: misc
Priority: extra
Maintainer: Sascha Ittner <sascha.ittner@modusoft.de>
Build-Depends: debhelper (>> 4.0.0), dkms, gettext, autoconf, automake, libtool, quilt,
  libc6, libstdc++6,
  dh-systemd,
  linux-headers-generic | linux-headers-amd64:native |
  linux-headers-i386:native | linux-headers-arm64:native | linux-headers-armhf:native
Standards-Version: 2.1.0

Package: libethercat
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}
Description: IgH EtherCAT master for Linux shared libraries

Package: etherlabmaster
Replaces: ethercat, etherlabmaster
Conflicts: ethercat, etherlabmaster
Provides: ethercat, etherlabmaster
Architecture: any
Depends: ${shlibs:Depends}, etherlabmaster-tools, dkms, procps, ifupdown
Description: IgH EtherCAT master for Linux

Package: etherlabmaster-tools
Architecture: any
Depends: ${shlibs:Depends}, libethercat
Description: IgH EtherCAT master for Linux utilities

Package: etherlabmaster-dev
Replaces: ethercat-dev, etherlabmaster-dev
Conflicts: ethercat-dev, etherlabmaster-dev
Provides: ethercat-dev, etherlabmaster-dev
Architecture: any
Multi-Arch: foreign
Depends: libethercat
Description: IgH EtherCAT master for Linux (development files)
