#!/usr/bin/make -f

VERSION ?= $(shell dpkg-parsechangelog | sed -rne 's/^Version: ([0-9.]+(\+[0-9]*hg[0-9a-z]*)?).*$$/\1/p')

include /usr/share/dpkg/architecture.mk
HEADERS = $(shell /bin/ls -d \
	/usr/src/linux-headers-*-generic \
	/usr/src/linux-headers-*-$(DEB_BUILD_ARCH) 2>/dev/null \
	| head -1)
ifneq (,$(HEADERS))
CONFFLAGS += --with-linux-dir=$(HEADERS)
endif
CONFFLAGS += --disable-eoe --enable-sii-assign

ifeq ($(DEB_HOST_ARCH_OS),linux)
	CONFFLAGS += --enable-kernel --enable-generic --enable-ccat \
	    --enable-8139too --enable-e100 --enable-e1000 --enable-e1000e \
	    --enable-igb --enable-hrtimer --enable-rtmutex
#	FIXME  Doesn't exist for 4.19
	CONFFLAGS += --disable-r8169 --disable-r8152
endif

default:
	echo "$(VERSION)"

%:
	dh $@ --with autoreconf,dkms,systemd

override_dh_autoreconf:
	touch ChangeLog
	dh_autoreconf

override_dh_clean:
	rm -f ChangeLog
	dh_clean

override_dh_auto_configure:
	dh_auto_configure -- \
		$(CONFFLAGS)

override_dh_install:
        # Systemd
	mkdir -p debian/tmp/lib
	mv debian/tmp/usr/lib/*/systemd debian/tmp/lib/
	dh_systemd_enable --name=ethercat
	dh_installinit --name=ethercat
	dh_systemd_start

        # Clean up and check for omissions
	rm -f	debian/tmp/etc/ethercat.conf \
		debian/tmp/etc/init.d/ethercat \
		debian/tmp/usr/lib/*/libethercat.a \
		debian/tmp/usr/lib/*/libethercat.la
	dh_install --fail-missing

	dh_install -petherlabmaster config.h globals.h Kbuild usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster -X.o -X.ko -XMakefile -X.in -X.am \
	    examples/ include/ master/ tty/ devices/ usr/src/etherlabmaster-$(VERSION)
	dh_install -petherlabmaster debian/dkms/* usr/src/etherlabmaster-$(VERSION)

override_dh_dkms:
	dh_dkms -V $(VERSION)
